.experience-list-item:not(:last-child)::before {
  content: "";
  width: 1px;
  position: absolute;
  height: calc(100% + 50px);
  z-index: 0;
}

.experience-list-item::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 11.5px;
  height: 6px;
  width: 6px;
  border-radius: 50%;

  @media (width >= 48rem /* --breakpoint-md */) {
    top: 10px;
    left: 19.5px;
  }
}

[data-theme="cartoon"] {
  .experience-list-item:not(:last-child)::before {
    left: 14px;
    top: -22px;

    @media (width >= 48rem /* --breakpoint-md */) {
      left: 22px;
      top: -15px;
    }
  }
}

[data-theme="neomorphism"] {
  .experience-list-item:not(:last-child)::before {
    left: 12px;
    top: -22px;

    @media (width >= 48rem /* --breakpoint-md */) {
      left: 20px;
      top: -15px;
    }
  }

  .experience-list-item::after {
    left: 9.5px;

    @media (width >= 48rem /* --breakpoint-md */) {
      left: 17.5px;
    }
  }
}

[data-theme="cartoon"] {
  .experience-list-item:not(:last-child)::before {
    background: var(--color-primary);
  }

  .experience-list-item::after {
    background-color: var(--color-primary);
    box-shadow: 0 0 0 4px rgba(42, 157, 143, 0.4) /* --color-secondary-2 */;
  }
}

[data-theme="neomorphism"] {
  .experience-list-item:not(:last-child)::before {
    width: 2px;
    box-shadow: inset -1px -1px 1px 0 rgba(255, 255, 255, 0.8),
      inset 1px 1px 1px 0 var(--color-primary);
  }

  .experience-list-item::after {
    background-color: rgba(38, 70, 83, 0.4) /* --color-primary */;
    box-shadow: 0 0 0 4px var(--color-primary);
  }
}
