@keyframes slideInSeason {
  from {
    transform: translateY(-14px);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes slideOutSeason {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(14px);
  }
}

.show {
  animation: 500ms slideInSeason ease-in;
}

.disappear {
  animation: 500ms slideOutSeason ease-in;
}
