@keyframes slideInSeason {
  from {
    transform: translateY(-4px);
    opacity: 0%;
  }
  to {
    transform: translateY(0%);
    opacity: 100%;
  }
}

.slideInSeason {
  animation: 500ms slideInSeason ease-out;
  transition: all;
}
