@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import "tailwindcss";

@custom-variant spring (&:where([data-theme="spring"] *));
@custom-variant summer (&:where([data-theme="summer"] *));
@custom-variant autumn (&:where([data-theme="autumn"] *));
@custom-variant winter (&:where([data-theme="winter"] *));

@theme {
  /* Font families*/
  --font-cartoon: "Luckiest Guy", cursive;

  /* Font weights */
  --font-weight-*: initial;
  --font-weight-normal: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 600;

  --text-*: initial;
  --text-xs: clamp(0.6914rem, 0.69rem + 0.0055vi, 0.6944rem);
  --text-xs--line-height: 1.5;
  --text-sm: clamp(0.7778rem, 0.7534rem + 0.0999vi, 0.8333rem);
  --text-sm--line-height: 1.5;
  --text-base: clamp(0.875rem, 0.8202rem + 0.2247vi, 1rem);
  --text-base--line-height: 1.5;
  --text-lg: clamp(0.9844rem, 0.8899rem + 0.3876vi, 1.2rem);
  --text-lg--line-height: 1.5;
  --text-xl: clamp(1.1074rem, 0.9617rem + 0.5979vi, 1.44rem);
  --text-xl--line-height: 1.5;
  --text-2xl: clamp(1.2458rem, 1.0346rem + 0.8668vi, 1.728rem);
  --text-2xl--line-height: 1.5;
  --text-3xl: clamp(1.4016rem, 1.1071rem + 1.2081vi, 2.0736rem);
  --text-3xl--line-height: 1.5;
  --text-4xl: clamp(1.5768rem, 1.1773rem + 1.6387vi, 2.4883rem);
  --text-4xl--line-height: 1.5;

  --color-*: initial;
  --color-white: #ffffff;
  --color-black: #000000;

  /* Default theme is autumn */
  /* See https://coolors.co/palettes/popular/autumn */
  --color-primary: #264653;
  --color-background: #e76f51;
  --color-background-2: #e9c46a;
  --color-secondary-1: #f4a261;
  --color-secondary-2: #2a9d8f;
  --color-light: #f2e7c4;

  /* --spacing-*: initial;
  --spacing-0: 0px;
  --spacing-none: 0px;
  --spacing-3xs: clamp(4px, 4px + 0vi, 4px);
  --spacing-2xs: clamp(7px, 6.5618px + 0.1124vi, 8px);
  --spacing-xs: clamp(11px, 10.5618px + 0.1124vi, 12px);
  --spacing-sm: clamp(14px, 13.1236px + 0.2247vi, 16px);
  --spacing-md: clamp(21px, 19.6854px + 0.3371vi, 24px);
  --spacing-lg: clamp(28px, 26.2472px + 0.4494vi, 32px);
  --spacing-xl: clamp(42px, 39.3708px + 0.6742vi, 48px);
  --spacing-2xl: clamp(56px, 52.4944px + 0.8989vi, 64px);
  --spacing-3xl: clamp(84px, 78.7416px + 1.3483vi, 96px);
  --spacing-full: 100%; */

  /* --radius-*: initial;
  --radius-none: 0px;
  --radius-sm: clamp(4px, 4px + 0vi, 4px);
  --radius-md: clamp(11px, 10.5618px + 0.1124vi, 12px);
  --radius-lg: clamp(21px, 19.6854px + 0.3371vi, 24px);
  --radius-xl: clamp(28px, 26.2472px + 0.4494vi, 32px);
  --radius-full: 9999px; */

  /* Shadows */
  --shadow-*: initial;
  --shadow-xs: 3px 2px 2px rgba(0, 0, 0, 0.25);
  --shadow-sm: 6px 4px 4px rgba(0, 0, 0, 0.25);
  --shadow: 18px 14px 6px rgba(0, 0, 0, 0.25);

  /* Text shadows */
  --text-shadow-*: initial;
  /* text shadow + text borders */
  --text-shadow-md: 5px 4px 5px rgba(0, 0, 0, 0.25), -2px 0 rgba(0, 0, 0, 0.25),
    0 2px rgba(0, 0, 0, 0.25), 2px 0 rgba(0, 0, 0, 0.25),
    0 -2px rgba(0, 0, 0, 0.25);
}

[data-theme="winter"] {
  /* See https://coolors.co/palettes/popular/winter */
  --color-primary: #022225;
  --color-background: #93241b;
  --color-background-2: #eae3d0;
  --color-secondary-1: #495d57;
  --color-secondary-2: #4c383f;
}

[data-theme="spring"] {
  /* See https://coolors.co/palettes/popular/spring */
  --color-one: #f6bd60;
  --color-two: #f7ede2;
  --color-three: #f5cac3;
  --color-four: #84a59d;
  --color-five: #f28482;
}

[data-theme="summer"] {
  /* See https://coolors.co/palettes/popular/summer */
  --color-primary: #cb997e;
  --color-background: #e3e8be;
  --color-background-2: #f8f2cb;
  --color-secondary-1: #faedcd;
  --color-secondary-2: #b6c190;
}

.cartoon-title {
  font-family: var(--font-cartoon);
  transition: all 0.5s ease;
  cursor: pointer;
}

.cartoon-title:hover {
  transform: scale(114%);
}
