@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@custom-variant neo (&:where([data-theme="neomorphism"] *));
@custom-variant cartoon (&:where([data-theme="cartoon"] *));

@theme {
  /* Font families*/
  --font-cartoon: "Luckiest Guy", cursive;
  --font-neo: "Montserrat", sans-serif;

  /* Font weights */
  --font-weight-*: initial;
  --font-weight-normal: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 600;

  --text-*: initial;
  --text-xs: clamp(0.6914rem, 0.69rem + 0.0055vi, 0.6944rem);
  --text-xs--line-height: 1.5;
  --text-sm: clamp(0.7778rem, 0.7534rem + 0.0999vi, 0.8333rem);
  --text-sm--line-height: 1.5;
  --text-base: clamp(0.875rem, 0.8202rem + 0.2247vi, 1rem);
  --text-base--line-height: 1.5;
  --text-lg: clamp(0.9844rem, 0.8899rem + 0.3876vi, 1.2rem);
  --text-lg--line-height: 1.5;
  --text-xl: clamp(1.1074rem, 0.9617rem + 0.5979vi, 1.44rem);
  --text-xl--line-height: 1.5;
  --text-2xl: clamp(1.2458rem, 1.0346rem + 0.8668vi, 1.728rem);
  --text-2xl--line-height: 1.5;
  --text-3xl: clamp(1.4016rem, 1.1071rem + 1.2081vi, 2.0736rem);
  --text-3xl--line-height: 1.5;
  --text-4xl: clamp(1.5768rem, 1.1773rem + 1.6387vi, 2.4883rem);
  --text-4xl--line-height: 1.5;

  --color-*: initial;
  --color-white: #ffffff;
  --color-black: #000000;

  --color-primary: #264653;
  --color-background: #e76f51;
  --color-background-2: #e9c46a;
  --color-secondary-1: #f4a261;
  --color-secondary-2: #2a9d8f;
  --color-light: #f2e7c4;

  /* --spacing-*: initial;
  --spacing-0: 0px;
  --spacing-none: 0px;
  --spacing-3xs: clamp(4px, 4px + 0vi, 4px);
  --spacing-2xs: clamp(7px, 6.5618px + 0.1124vi, 8px);
  --spacing-xs: clamp(11px, 10.5618px + 0.1124vi, 12px);
  --spacing-sm: clamp(14px, 13.1236px + 0.2247vi, 16px);
  --spacing-md: clamp(21px, 19.6854px + 0.3371vi, 24px);
  --spacing-lg: clamp(28px, 26.2472px + 0.4494vi, 32px);
  --spacing-xl: clamp(42px, 39.3708px + 0.6742vi, 48px);
  --spacing-2xl: clamp(56px, 52.4944px + 0.8989vi, 64px);
  --spacing-3xl: clamp(84px, 78.7416px + 1.3483vi, 96px);
  --spacing-full: 100%; */

  /* --radius-*: initial;
  --radius-none: 0px;
  --radius-sm: clamp(4px, 4px + 0vi, 4px);
  --radius-md: clamp(11px, 10.5618px + 0.1124vi, 12px);
  --radius-lg: clamp(21px, 19.6854px + 0.3371vi, 24px);
  --radius-xl: clamp(28px, 26.2472px + 0.4494vi, 32px);
  --radius-full: 9999px; */

  /* Shadows */
  --shadow-*: initial;
  --shadow-xs: 3px 2px 2px rgba(0, 0, 0, 0.25);
  --shadow-sm: 6px 4px 2px rgba(0, 0, 0, 0.25);
  --shadow-md: 18px 14px 2px rgba(100, 100, 100, 0.25);

  --shadow-outer-md: 0.3rem 0.3rem 0.6rem var(--color-primary),
    -0.2rem -0.2rem 0.5rem var(--color-white);
  --shadow-outer-lg: -14px -14px 30px var(--color-white),
    14px 14px 30px var(--color-primary);

  --shadow-inner-sm: inset -1px -1px 1px 0 rgba(255, 255, 255, 0.8),
    inset 1px 1px 1px 0 var(--color-primary);
  --shadow-inner-md: inset 0.2rem 0.2rem 0.5rem var(--color-primary),
    inset -0.2rem -0.2rem 0.5rem var(--color-white);

  /* Text shadows */
  --text-shadow-*: initial;
  /* text shadow + text borders */
  --text-shadow-md: 5px 4px 3px rgba(0, 0, 0, 0.25), -2px 0 rgba(0, 0, 0, 0.25),
    0 2px rgba(0, 0, 0, 0.25), 2px 0 rgba(0, 0, 0, 0.25),
    0 -2px rgba(0, 0, 0, 0.25);
}

[data-theme="neomorphism"] {
  * {
    font-family: var(--font-neo);
  }

  /* See https://coolors.co/palettes/popular/winter */
  --color-black: #2b2e31;
  --color-primary: #d1d9e6;
  --color-background: #ecf0f3;
  --color-background-2: #b7bbbe;
  --color-secondary-1: #85898b;
  --color-secondary-2: #565a5c;
  --color-light: #ffffff;
}

[data-theme="cartoon"] {
  .cartoon-title {
    font-family: var(--font-cartoon);
    transition: all 0.5s ease;
    cursor: pointer;
    color: var(--color-light);
    font-weight: var(--font-weight-bold);
  }

  .cartoon-title:hover {
    transform: scale(114%);
  }
}
