.holographic-card {
  background-color: var(--color-secondary-2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: var(--radius-4xl);
  transition: all 0.5s ease;
}

.holographic-card::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg,
    transparent,
    transparent 30%,
    var(--color-secondary-3)
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
  z-index: 2;
}

/* -- Hologrphic card -- */

.holographic-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px var(--color-secondary-3);
}

.holographic-card:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

/* -- Holographic cards scrollbar -- */
.holographic-cards-scrollbar {
  --scrollbar-color-track: var(--color-primary);
  --scrollbar-color-thumb: var(--color-secondary-2);

  @supports not selector(::-webkit-scrollbar) {
    scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
    scrollbar-width: auto;
    scrollbar-gutter: auto;
  }

  @supports selector(::-webkit-scrollbar) {
    ::-webkit-scrollbar {
      height: 0.4em;
    }

    ::-webkit-scrollbar-track {
      background-color: var(--scrollbar-color-track);
      border-radius: var(--radius-4xl);
      margin-inline: 12em;
    }

    ::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-color-thumb);
      border-radius: var(--radius-4xl);
    }
  }
}
